<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h4>The Dojo Message Board</h4>
    <hr>

    <form  action="/addpost" method="post">

      <p>Name:<input type="text" name="pname"></p>
      <p>Message:<textarea name="message" rows="8" cols="80"></textarea></p>
      <input type="submit" value="Post Message">

    </form>

    <%for(var post in posts){%>
      <h3>Name: <%= posts[post].pname%></h3>
      <h3>Message: <%= posts[post].message%></h3>
      <p>Id: <%=posts[post].comments%></p>
    <%for(var i=0;i<posts[post].comments.length; i++){%>
      <p>Name:<%=posts[post].comments[i].cname%></p>
      <p>Comment:<%=posts[post].comments[i].comment%></p>
      <% } %>

      <form action="/addcomment/<%=posts[post]._id%>" method="post">
        <p>Name:<input type="text" name="cname" ></p>
        <p>Comment: <input type="text" name="comment" ></p>
        <input type="submit" value="submit">
      </form>
      <hr>
      <% } %>
  </body>
</html>
